<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="us.artaround.android"
	android:versionCode="1"
	android:versionName="1.0">

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="true">

		<activity
			android:name=".ui.ArtMap"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<receiver 
			android:name=".core.LocationUpdateReceiver">
			<intent-filter>
				<action android:name="us.artaround.android.ACTION_UPDATE_SUCCESS" />
				<action android:name="us.artaround.android.ACTION_UPDATE_FAILURE" />
			</intent-filter>
		</receiver>

		<uses-library
			android:name="com.google.android.maps" />
	</application>


	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<uses-sdk                                                                                                          
		android:minSdkVersion="3"
		android:targetSdkVersion="4" />
                                                                                                              
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
</manifest> 