<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="us.artaround"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="auto"> <!-- This will be ignored by versions lower than 2.2 -->

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_label"
		android:debuggable="true">

		<activity
			android:name=".android.ui.ArtMap"
			android:label="@string/app_label"
			android:theme="@android:style/Theme.NoTitleBar"
			android:launchMode="singleTop" >

			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.SEARCH" />
			</intent-filter>
		</activity>
		
		<activity
			android:name=".android.ui.ArtFilters"
			android:theme="@style/CustomDialog" />		

		<activity
			android:name=".android.ui.ArtPage"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/app_label" />

		<activity
			android:name=".android.ui.ArtComments"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/app_label" />

		<!-- It seems in order to have multiple map views in the same application, the map activities must run in different processes. -->
		<activity
			android:name=".android.ui.ArtDetails"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/app_label" />

		<activity
			android:name=".android.ui.ArtGallery"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/app_label" />

		<activity
			android:name=".android.ui.Preferences"
			android:label="@string/app_label"
			android:theme="@android:style/Theme" />

		<provider
			android:name=".android.database.ArtAroundProvider"
			android:authorities="us.artaround" />

		<uses-library
			android:name="com.google.android.maps"
			android:required="true" />
	</application>


	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="4" />

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
</manifest> 