<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="us.artaround"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="auto"> <!-- This will be ignored by versions lower than 2.2 -->

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_label"
		android:theme="@style/ArtAround.Default">

		<activity
			android:name=".android.ui.ArtMap">

			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
			android:name=".android.ui.ArtEdit" />
			
		<activity
			android:name=".android.ui.ArtGallery"
			android:screenOrientation="landscape" />

		<activity
			android:name=".android.ui.ArtFilters"
			android:theme="@android:style/Theme.Dialog"
			android:label="@string/art_filters" />

		<activity
			android:name=".android.ui.ArtNearby" />

		<activity
			android:name=".android.ui.ArtFavs" />

		<activity
			android:name=".android.ui.Preferences" />

		<provider
			android:name=".android.database.ArtAroundProvider"
			android:authorities="us.artaround" />

		<uses-library
			android:name="com.google.android.maps"
			android:required="true" />
	</application>


	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="8" />

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
</manifest> 