<?xml version="1.0" encoding="utf-8"?>
<resources>
	<string 
		name="feedback_email"></string>
    <string 
    	name="feedback_subject"></string>
    <string
        name="maps_api"></string>
    <string
        name="flickr_api"></string>
    <string
        name="flickr_username"></string>
</resources>
