<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string
        name="maps_api"></string>
    <string
        name="flickr_api"></string>
    <string
        name="flickr_username"></string>
</resources>
